.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link::after {
  color: #2f80ed;
  display: inline-block;
  content: '→';
  margin-left: 5px;
}

.header__link,
.header__link::after {
  font-size: 18px;
  line-height: 25px;
  font-style: normal;
  font-weight: normal;
}
