.kaufman {
  background: #1f1f1f;
  position: relative;
  overflow: hidden;
  padding: 90px 0 90px 0;
}

.kaufman .section-title,
.kaufman .section-subtitle,
.kaufman .table,
.kaufman .table__cell {
  z-index: 1;
}
