h1,h2,h3,h4,p {
  margin: 0;
}

a {
  text-decoration: none;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.bg-grey {
  background-color: #f2f2f2;
}

.bg-dark {
  background-color: #000000;
}

.flex {
  display: flex;
}

.flex-row {
  flex-wrap: wrap;
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.self-center {
  align-self: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  width: 183px;
  display: block;
  font-size: 0;
}

.logo__img {
  max-width: 100%;
}

.logo_place_header {
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.logo_place_footer {
  height: 35px;
  background: url(../images/logo_place_footer.svg) 0 0 no-repeat;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background:  #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__title {
  margin: 0 0 0 64px;
  z-index: 2;
  align-self: center;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bolder;
}

.header__subtitle,
.header__link,
.header__link::after {
  font-size: 18px;
  line-height: 25px;
  font-style: normal;
  font-weight: normal;
}

.header__subtitle {
  z-index: 2;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
}

.header__link,
.header__link::after,
.feynman__link,
.feynman__link::after {
  color: #2f80ed;
}

.header__link::after,
.feynman__link::after {
  display: inline-block;
  content: '→';
  margin-left: 5px;
}

.description {
  padding-top: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph,
.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
}

.two-columns__paragraph {
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: bolder;
}

.two-columns__title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.digits {
  padding: 100px 0 40px 0;
}

.section-title,
.section-subtitle {
  width: 60%;
  margin: 0 auto 20px auto;
  text-align: center;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bolder;
}

.section-title_theme_dark,
.section-subtitle_theme_dark,
.table__cell_theme_dark {
  color: #fff;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 0;
}

.table {
  width: 1100px;
  margin: 0 auto;
  padding-top: 60px;
}

.table_theme_dark {
  padding-top: 80px;
}

.table__cell {
  width: 250px;
  margin-bottom: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-bottom: 80px;
}

.table__heading {
  font-size: 24px;
  font-weight: bolder;
  line-height: 1.15;
  margin: 0 0 20px 0;
}

.table__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 20px;
}

.table__text:last-child {
  margin: 0;
}

.feynman {
  height: 890px;
  padding-top: 100px;
  position: relative;
  background: #f2f2f2 url(../images/feynman.png) left bottom no-repeat;
}

.feynman__title {
  font-size: 120px;
  line-height: 1.15;
  font-weight: bolder;
  width: 648px;
  margin: 0 auto 70px auto;
  text-align: center;
}

.feynman__subtitle,
.feynman__link,
.feynman__link::after {
  text-align: center;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__link::after {
  margin-left: 10px;
}

.kaufman {
  position: relative;
  overflow: hidden;
  padding: 90px 0 10px 0;
}

.kaufman .section-title,
.kaufman .section-subtitle,
.kaufman .table,
.kaufman .table__cell {
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
}

.footer {
  display: flex;
  min-height: 350px;
  padding: 60px 0 40px 0;
}

.footer__columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  color: #fff;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  display: block;
  margin: 18px 0;
}

.footer__column-heading,
.footer__column-link {
  line-height: 30px;
  font-size: 18px;
}

.footer__column-heading {
  font-weight: bolder;
  margin-bottom: 20px;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-nav {
  margin-bottom: 16px;
}

.footer__social-icon {
  margin-right: 10px;
}

.footer__column-link {
  font-weight: normal;
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
